.companies .container-images {
    justify-content: space-around;
    gap: 1rem
}

.companies .container-images>img {
    width: 9rem
}

.companies .container-images {
    justify-content: space-between
}

.companies .container-images>div {
    flex: 1
}