.get-started-container .inner-container {
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
    text-align: center
}

.get-started-container .inner-container .primary-text {
    color: #fff;
    font-weight: 600
}

.get-started-container .inner-container .secondary-text {
    color: #ffffff96
}

.get-started-container .inner-container .button {
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px
}