.contact-container {
    justify-content: space-between;
    gap: 1rem;
}

.contact-container>div {
    flex: 1;
}

.contact-right {
    width: 100%
}

.contact-left {
    gap: .5rem
}

.contact-modes {
    margin-top: 2rem;
    gap: 1rem
}

.contact-modes .row {
    gap: 1.5rem;
    flex-wrap: wrap;
}

.mode {
    width: 16rem;
    padding: 1rem;
    border: .8px solid rgba(128, 128, 128, .143);
    border-radius: 5px;
    gap: 1rem;
    transition: all .3s ease-in
}

.mode .button {
    width: 100%;
    background: var(--lightBlue);
    color: var(--blue);
    font-size: .9rem;
    font-weight: 600
}

.mode>:nth-child(1) {
    width: 100%;
    gap: 1.6rem
}

.mode .detail .primary-text {
    font-size: 1.1rem;
    font-weight: 600
}

.mode:hover {
    scale: 1.1;
    box-shadow: var(--shadow)
}

.mode .button:hover {
    background: var(--blue-gradient);
    color: #fff;
    scale: .8
}

@media (max-width: 1024px) {
    .contact-container {
        flex-direction: column
    }

    .contact-right {
        justify-content: center
    }
}

@media (max-width: 1024px) {
    .contact-modes {
        width: 100%
    }

    .row {
        flex-direction: column;
        width: 100%
    }

    .mode {
        width: 100%
    }
}