.residencies-container {
    gap: 2rem;
    position: relative;
    overflow: hidden
}

.residencies-head {
    margin-bottom: 2rem
}

.residencie-card {
    gap: .6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all .3s ease-in
}

.residencie-card>img {
    width: 100%;
    max-width: 15rem
}

.residencie-card>:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600
}

.residencie-card>:nth-child(3) {
    font-size: 1.5rem
}

.residencie-card>:nth-child(4) {
    font-size: .7rem;
    width: 15rem
}

.residencie-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, .46) 217.91%);
    box-shadow: 0 72px 49px -51px #88a0ff36
}

.swiper-horizontal {
    overflow: visible !important;
}

.r-buttons {
    position: absolute;
    gap: 1rem;
    top: -4rem;
    right: 0
}

.r-buttons button {
    font-size: 1.2rem;
    padding: .2rem .8rem;
    color: #00f;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer
}

.r-buttons>:nth-child(1) {
    background-color: #eef
}

.r-buttons>:nth-child(2) {
    box-shadow: 0 0 5px 1px #00000040
}

@media (max-width: 640px) {
    .residencies-head {
        align-items: center
    }

    .r-buttons {
        position: initial
    }
}