.h-wrapper {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.h-wrapper.bg-gray{
 background: rgb(48, 46, 46);
}

.header-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    justify-content: space-between
}

.header-menu {
    gap: 2rem
}

.header-menu>*:hover {
    cursor: pointer
}

.menu-icon {
    display: none
}

@media (max-width: 768px) {
    .menu-icon {
        display: block
    }

    .header-menu {
        color: var(--black);
        position: absolute;
        gap: 2rem;
        font-weight: 500;
        flex-direction: column;
        right: 4rem;
        top: 3rem;
        background: white;
        display: flex;
        border-radius: 10px;
        transition: all .2s ease;
        align-items: flex-start;
        padding: 3rem;
        box-shadow: 0 4px 4px #0000000d
    }
}