.accordion {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px
}

.accordion__item+.accordion__item {
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none
}

.accordion__button:hover {
    background-color: #ddd
}

.accordion__button:before {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg)
}

.accordion__button[aria-expanded=true]:before,
.accordion__button[aria-selected=true]:before {
    transform: rotate(45deg)
}

[hidden] {
    display: none
}

.accordion__panel {
    padding: 20px;
    animation: fadein .35s ease-in
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.our-value-container .image-container {
    border: 8px solid rgb(232 232 232 / 93%)
}

.our-value-container>div {
    flex: 1
}

.our-value-right {
    gap: .5rem
}

.accordion {
    margin-top: 2rem;
    border: none
}

.accordion-item {
    background: white;
    border: .8px solid rgba(128, 128, 128, .143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px
}

.accordion-item.expanded {
    box-shadow: var(--shadow);
    border-radius: 6px
}

.accordion-button {
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer
}

.icon {
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px
}

.icon svg {
    fill: var(--blue)
}

.accordion-button .primary-text {
    font-size: 1.1rem
}

@media (max-width: 1024px) {
    .our-value-container {
        flex-direction: column
    }
}

@media (max-width: 768px) {
    .accordion-button .primary-text {
        font-size: .8rem
    }
}