:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, .78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, .25)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth
}

a {
  color: inherit;
  text-decoration: none
}

.paddings {
  padding: 1.5rem
}

.inner-width {
  width: 100%
}

.flex-center {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end
}

.primary-text {
  color: #1f3e72;
  font-weight: 700;
  font-size: 2rem
}

.secondary-text {
  color: #8c8b8b;
  font-size: .9rem
}

.orange-text {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600
}

@media (min-width: 1536px) {
  .inner-width {
    max-width: 1280px;
    margin: auto
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .paddings {
    padding: 2rem
  }
}

@media (max-width: 640px) {
  .primary-text {
    font-size: 1.5rem
  }

  .orange-text {
    font-size: 1.2rem
  }
}

.button {
  font-weight: 500;
  padding: .6rem 1.4rem;
  color: #fff;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all .3s ease-in
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1)
}